In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [190]:
df = pd.read_excel('/mnt/Datasets/Cool-Farm-Tool-GHG-Inputs LATAM_v2.xlsx', sheet_name = 'Fertilizer-Manure')

df.columns = df.iloc[0]
df = df.iloc[1:].reset_index(drop = True)
df = df.rename(columns = {'Harvest Year': 'Harvest_Year', 'Field Name': 'Field_Name', \
                          'Select Crop Name': 'Crop_Name', 'Enter Crop Area (ha)': 'Crop_Area_Ha', \
                         'Select Fertilizer Type': 'Fertilizer_Type', 'Enter Soil Organic Matter': 'Soil_Organic_Matter', \
                         'Select Manufacturing Region': 'Select_Manufacturing_Region', 'Enter Application Rate': 'Application_Rate_kg_per_Ha', \
                         'Select Rate Unit': 'Rate_Unit', 'Select Units of Product or Nutrient': 'Units_Of_Product_Or_Nutrient', \
                         'Select Application Method': 'Application_Method', 'Select Emissions Inihibitors': 'Emissions_Inhibitors', \
                          '% N as Urea': 'N_as_Urea_%', '% N as Nitrate': 'N_as_Nitrate_%','% N as Ammonium': 'N_as_Ammonium_%', \
                          '% P as Phosphorous': 'P_as_Phosphorus_%', '% P as P2O5': 'P_as_P2O5_%', '% K as Potassium': 'K_as_Potassium_%', \
                          '% K as K2O': 'K_as_K2O_%'})

# print(df['Emissions_Inhibitors'].unique())
df = df.drop(columns = ['Country', 'Geography', 'Harvest_Year', 'Select_Manufacturing_Region', 'Rate_Unit', \
                        'Units_Of_Product_Or_Nutrient', 'Emissions_Inhibitors'])

df['Application_Rate_kg_per_Ha'] = df['Application_Rate_kg_per_Ha'].astype(float)
df[['N_as_Urea_%', 'N_as_Nitrate_%','N_as_Ammonium_%', 'P_as_Phosphorus_%','P_as_P2O5_%', 'K_as_Potassium_%', 'K_as_K2O_%']] = \
df[['N_as_Urea_%', 'N_as_Nitrate_%','N_as_Ammonium_%', 'P_as_Phosphorus_%','P_as_P2O5_%', 'K_as_Potassium_%', 'K_as_K2O_%']].fillna(0)

df['N_as_Urea_kg_per_Ha'] = (df['N_as_Urea_%']*df['Application_Rate_kg_per_Ha']).astype(float)
df['N_as_Nitrate_kg_per_Ha'] = (df['N_as_Nitrate_%']*df['Application_Rate_kg_per_Ha']).astype(float)
df['N_as_Ammonium_kg_per_Ha'] = (df['N_as_Ammonium_%']*df['Application_Rate_kg_per_Ha']).astype(float)
df['P_as_Phosphorus_kg_per_Ha'] = (df['P_as_Phosphorus_%']*df['Application_Rate_kg_per_Ha']).astype(float)
df['P_as_P2O5_kg_per_Ha'] = (df['P_as_P2O5_%']*df['Application_Rate_kg_per_Ha']).astype(float)
df['K_as_Potassium_kg_per_Ha'] = (df['K_as_Potassium_%']*df['Application_Rate_kg_per_Ha']).astype(float)
df['K_as_K2O_kg_per_Ha'] = (df['K_as_K2O_%']*df['Application_Rate_kg_per_Ha']).astype(float)

###################
print(df['Application_Method'].value_counts())
print(df['Fertilizer_Type'].value_counts())

#Consider dropping 'Application_Method' column due to low variance ('Incorporate': 98%; 'Apply in solution': 2%)
#Fertilizer type has some categories that have as low as .05%
###################

df_aggregate_fertilizer_composition = df.groupby('Field_Name')[['N_as_Urea_kg_per_Ha', 'N_as_Nitrate_kg_per_Ha','N_as_Ammonium_kg_per_Ha', \
                                                                'P_as_Phosphorus_kg_per_Ha','P_as_P2O5_kg_per_Ha', 'K_as_Potassium_kg_per_Ha', \
                                                                'K_as_K2O_kg_per_Ha']].sum()

df_aggregate_fertilizer_composition['Field_Name'] = df_aggregate_fertilizer_composition.index
df_aggregate_fertilizer_composition.index.name = ''
df_aggregate_fertilizer_composition = df_aggregate_fertilizer_composition.reset_index(drop = True)

print(display(df_aggregate_fertilizer_composition))

Incorporate          3769
Apply in solution      85
Name: Application_Method, dtype: int64
Urea - 46% N                                        1528
Monoammonium phosphate - 11% N / 52% P2O5            732
Muriate of potash / Potassium chloride - 60% K2O     672
Compose your own NPK                                 662
Ammonium sulphate - 21% N                            109
Calcium ammonium nitrate - 27% N                     101
Urea ammonium nitrate solution - 32% N                27
Compost (fully aerated production) - 1% N              7
Ammonium nitrate - 33.5% N                             5
Urea - 46.4% N                                         5
Poultry layer manure - 1.9% N                          4
Compound NPK - 15% N / 15% K2O / 15% P2O5              2
Name: Fertilizer_Type, dtype: int64

/opt/conda/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,N_as_Urea_kg_per_Ha,N_as_Nitrate_kg_per_Ha,N_as_Ammonium_kg_per_Ha,P_as_Phosphorus_kg_per_Ha,P_as_P2O5_kg_per_Ha,K_as_Potassium_kg_per_Ha,K_as_K2O_kg_per_Ha,Field_Name
0,0.0,6000.0,0.0,0.0,0.0,6000.0,0.0,M2I2001
1,0.0,6600.0,0.0,0.0,0.0,6600.0,0.0,M2I2002
2,0.0,6000.0,0.0,0.0,0.0,6000.0,0.0,M2I2003
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M2I2005
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M2I2006
...,...,...,...,...,...,...,...,...
990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M8V2160
991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M8V2161
992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M8V2162
993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M8V2163
994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,M8V2164

None

In [193]:
df_yield_per_Ha = pd.read_excel('/mnt/Datasets/Cool-Farm-Tool-GHG-Inputs LATAM_v2.xlsx', sheet_name = 'Farm-Crop-Soil')

df_yield_per_Ha.columns = df_yield_per_Ha.iloc[0]
df_yield_per_Ha = df_yield_per_Ha.iloc[1:].reset_index(drop = True)
print(display(df_yield_per_Ha))
df_yield_per_Ha = df_yield_per_Ha.rename(columns = {'Harvest Year': 'Harvest_Year', 'Field Name': 'Field_Name', \
                         'Enter Latitude': 'Latitude', 'Enter Longitude': 'Longitude', \
                         'Select Climate': 'Climate', 'Enter Avg Annual Temp (â„ƒ) - Optional': 'Avg_Annual_Temp_C', \
                          'Select Crop Name': 'Crop_Name', 'Enter Crop Area (ha)': 'Crop_Area_Ha', \
                         'Enter Seed Amount (If Potato)': 'Seed_Amount', 'Select Seed Amount Unit (If Potato)': 'Seed_Amount_Unit', \
                         'Enter Total Wet Mass Harvested (kg)': 'Wet_Mass_Harvested_kg', 'Enter Dry Finished Yield Mass (kg)': 'Dry_Yield_Mass_Kg', \
                         'Enter Residue Amount (kg/ha) - Optional': 'Residue_Amount', 'Selct Residue Management Practice': 'Residue_Management_Practice', \
                         'Select Soil Texture': 'Soil_Texture', 'Enter Soil Organic Matter': 'Soil_Organic_Matter', \
                         'Select Soil Moisture ': 'Soil_Moisture', 'Select Soil Drainage': 'Soil_Drainage', \
                         'Enter Soil pH': 'Soil_pH'})

df_yield_per_Ha['Yield_Mass_kg_Per_Ha'] = df_yield_per_Ha['Dry_Yield_Mass_Kg'] / df_yield_per_Ha['Crop_Area_Ha']

# get rid of Soil_Drainage, Soil_pH due to low variance (filter only soil drainage by = 'good')

df_yield_per_Ha = df_yield_per_Ha[df_yield_per_Ha['Soil_Drainage'] == 'good'].reset_index(drop = True)

df_yield_per_Ha = df_yield_per_Ha.drop(columns = ['Country', 'Geography', 'Climate', 'Crop_Name', 'Seed_Amount', 'Seed_Amount_Unit', \
                        'Wet_Mass_Harvested_kg', 'Latitude', 'Longitude', 'Residue_Amount', 'Soil_Texture', \
                        'Residue_Management_Practice', 'Avg_Annual_Temp_C', 'Soil_Moisture', 'Harvest_Year', 'Dry_Yield_Mass_Kg', 'Soil_Drainage', 'Soil_pH'])

print(display(df_yield_per_Ha))

/opt/conda/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,Country,Geography,Harvest Year,Field Name,Enter Latitude,Enter Longitude,Select Climate,Enter Avg Annual Temp (â„ƒ) - Optional,Select Crop Name,Enter Crop Area (ha),...,Select Seed Amount Unit (If Potato),Enter Total Wet Mass Harvested (kg),Enter Dry Finished Yield Mass (kg),Enter Residue Amount (kg/ha) - Optional,Selct Residue Management Practice,Select Soil Texture,Enter Soil Organic Matter,Select Soil Moisture,Select Soil Drainage,Enter Soil pH
0,BRAZIL,LATAM,2020,M6I2035,"S 19Â° 23' 25,00""","W 47Â° 27' 01,70""",Tropical,NaN,Maize,60,...,NaN,182960,180200,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),2.5,moist,good,5.5
1,BRAZIL,LATAM,2020,M6I2036,"S 19Â° 24' 33,10""","W 47Â° 25' 10,90""",Tropical,NaN,Maize,180,...,NaN,643510,418990,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),2.5,moist,good,5.5
2,BRAZIL,LATAM,2020,M6I2037,"S 19Â° 21' 54,70""","W 47Â° 27' 05,60""",Tropical,NaN,Maize,100,...,NaN,311620,305180,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),2.5,moist,good,5.5
3,BRAZIL,LATAM,2020,M6V2027,"S 19Â° 19' 07,80""","W 47Â° 22' 36,80""",Tropical,NaN,Maize,190,...,NaN,926550,461330,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),3,moist,good,6.258763
4,BRAZIL,LATAM,2020,M6V2067,"S 19Â° 20' 12,20""","W 47Â° 26' 57,90""",Tropical,NaN,Maize,100,...,NaN,1005840,493570,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),3,moist,good,6.492308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1198,BRAZIL,LATAM,2021,M6I21201,"S 16Â° 24' 41,20""","W 47Â° 37' 21,20""",Tropical,NaN,Maize,120,...,NaN,954560,480240,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),3.24,moist,good,5.5
1199,BRAZIL,LATAM,2021,M6I21202,"S 16Â° 25' 19,30""","W 47Â° 37' 24,00""",Tropical,NaN,Maize,130,...,NaN,831070,444290,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),4.25,moist,good,5.5
1200,BRAZIL,LATAM,2021,M2I2147,"S 12Â° 59' 35,60""","W 55Â° 52' 01,30""",Tropical,NaN,Maize,70,...,NaN,279760,267170,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),3.36,moist,good,6.1025
1201,BRAZIL,LATAM,2021,M2I2148,"S 13Â° 00' 03,50""","W 55Â° 52' 18,00""",Tropical,NaN,Maize,104,...,NaN,385980,374400,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),3.29,moist,good,6.77125
1202,BRAZIL,LATAM,2021,M2I2149,"S 12Â° 59' 18,80""","W 55Â° 51' 04,60""",Tropical,NaN,Maize,137.94,...,NaN,486350,471750,NaN,"Left distributed on field, OR incorporated, OR...",silt (medium),3.4725,moist,good,5.87125

None

0    Field_Name Crop_Area_Ha Soil_Organic_Matter Yield_Mass_kg_Per_Ha
0       M6I2035           60                 2.5          3003.333333
1       M6I2036          180                 2.5          2327.722222
2       M6I2037          100                 2.5               3051.8
3       M6V2027          190                   3          2428.052632
4       M6V2067          100                   3               4935.7
...         ...          ...                 ...                  ...
1194   M6I21201          120                3.24               4002.0
1195   M6I21202          130                4.25          3417.615385
1196    M2I2147           70                3.36          3816.714286
1197    M2I2148          104                3.29               3600.0
1198    M2I2149       137.94              3.4725          3419.965202

[1199 rows x 4 columns]

None

In [175]:
df_merged = df_aggregate_fertilizer_composition.merge(df_yield_per_Ha, on = 'Field_Name', how = 'left')

# fields_in_aggregate = df_aggregate_fertilizer_composition['Field_Name'].unique()
# df_yield_per_Ha = df_yield_per_Ha[df_yield_per_Ha['Field_Name'].isin(fields_in_aggregate)].reset_index(drop = True)

#N_as_Urea_kg_per_Ha, N_as_Ammonium_kg_per_Ha, P_as_P2O5_kg_per_Ha, K_as_K2O_kg_per_Ha (low variance)

df_merged = df_merged.drop(columns = ['Soil_pH', 'Soil_Drainage', 'N_as_Urea_kg_per_Ha', 'N_as_Ammonium_kg_per_Ha', 'P_as_P2O5_kg_per_Ha', 'K_as_K2O_kg_per_Ha'])

print(display(df_merged))

print(display(df_merged[df_merged.isna()]))

,N_as_Nitrate_kg_per_Ha,P_as_Phosphorus_kg_per_Ha,K_as_Potassium_kg_per_Ha,Field_Name,Crop_Area_Ha,Soil_Organic_Matter,Yield_Mass_kg_Per_Ha
0,6000.0,0.0,6000.0,M2I2001,200,2.5,4786.9
1,6600.0,0.0,6600.0,M2I2002,210,2.5,5234.47619
2,6000.0,0.0,6000.0,M2I2003,210,2.5,4358.380952
3,0.0,0.0,0.0,M2I2005,150,2.5,3400.4
4,0.0,0.0,0.0,M2I2006,70,2.5,3033.0
...,...,...,...,...,...,...,...
990,0.0,0.0,0.0,M8V2160,65,2.69,4587.384615
991,0.0,0.0,0.0,M8V2161,83.5,5.38,6741.676647
992,0.0,0.0,0.0,M8V2162,83.5,5.38,6482.275449
993,0.0,0.0,0.0,M8V2163,119,3.75,3372.689076
994,0.0,0.0,0.0,M8V2164,120,2.86,4358.666667

None

,N_as_Nitrate_kg_per_Ha,P_as_Phosphorus_kg_per_Ha,K_as_Potassium_kg_per_Ha,Field_Name,Crop_Area_Ha,Soil_Organic_Matter,Yield_Mass_kg_Per_Ha
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN

None

In [187]:
df_CO2_emissions = pd.read_excel('/mnt/Datasets/Brazil_PS_Mar18_result.xlsx')
print(display(df_CO2_emissions))
df_CO2_emissions = df_CO2_emissions.rename(columns = {'Field Name': 'Field_Name', 'Harvest Year': 'Harvest_Year', 'Crop Name': 'Crop_Name', \
                                                     'value': 'CO2_kg_Emissions_per_Ha'})

df_CO2_emissions = df_CO2_emissions[df_CO2_emissions['result'] == 'emissions_per_area'].reset_index(drop = True)

df_CO2_emissions = df_CO2_emissions.drop(columns = ['Harvest_Year', 'Crop_Name', 'Country', 'Geography', 'result', 'unit'])

print(display(df_CO2_emissions))

,Field Name,Harvest Year,Crop Name,Country,Geography,result,value,unit
0,M6I2035,2020,Maize,Brazil,LATAM,emissions_total,-13221.26,kgCO2e
1,M6I2035,2020,Maize,Brazil,LATAM,emissions_per_area,-220.35,kgCO2e/ha
2,M6I2035,2020,Maize,Brazil,LATAM,emissions_per_product,-0.07,kgCO2e/kg
3,M6I2035,2020,Maize,Brazil,LATAM,soil_organic_carbon,1.45,%
4,M6I2035,2020,Maize,Brazil,LATAM,machinery_fuel_usage,1862.20,litre
...,...,...,...,...,...,...,...,...
6010,M2I2149,2021,Maize,Brazil,LATAM,emissions_total,-214863.64,kgCO2e
6011,M2I2149,2021,Maize,Brazil,LATAM,emissions_per_area,-1557.66,kgCO2e/ha
6012,M2I2149,2021,Maize,Brazil,LATAM,emissions_per_product,-0.46,kgCO2e/kg
6013,M2I2149,2021,Maize,Brazil,LATAM,soil_organic_carbon,2.01,%
6014,M2I2149,2021,Maize,Brazil,LATAM,machinery_fuel_usage,4281.19,litre

None

     Field_Name  CO2_kg_Emissions_per_Ha
0       M6I2035                  -220.35
1       M6I2036                  3847.21
2       M6I2037                   415.52
3       M6V2027                  -936.41
4       M6V2067                   824.77
...         ...                      ...
1198   M6I21201                   485.73
1199   M6I21202                  -522.49
1200    M2I2147                 -1459.26
1201    M2I2148                 -1416.09
1202    M2I2149                 -1557.66

[1203 rows x 2 columns]

None

In [177]:
df_merged = df_merged.merge(df_CO2_emissions, on = 'Field_Name', how = 'left')
df_merged.to_csv('/mnt/Datasets/merged_dataframe_11_30_2022.csv')

print(display(df_merged))

# print(display(df_merged_has_elements))
# df_merged_has_elements.to_csv('/mnt/Datasets/merged_dataframe_with_elements_11_30_2022.csv')

,N_as_Nitrate_kg_per_Ha,P_as_Phosphorus_kg_per_Ha,K_as_Potassium_kg_per_Ha,Field_Name,Crop_Area_Ha,Soil_Organic_Matter,Yield_Mass_kg_Per_Ha,CO2_kg_Emissions_per_Ha
0,6000.0,0.0,6000.0,M2I2001,200,2.5,4786.9,349.85
1,6600.0,0.0,6600.0,M2I2002,210,2.5,5234.47619,488.41
2,6000.0,0.0,6000.0,M2I2003,210,2.5,4358.380952,462.26
3,0.0,0.0,0.0,M2I2005,150,2.5,3400.4,409.14
4,0.0,0.0,0.0,M2I2006,70,2.5,3033.0,261.38
...,...,...,...,...,...,...,...,...
986,0.0,0.0,0.0,M8V2160,65,2.69,4587.384615,449.67
987,0.0,0.0,0.0,M8V2161,83.5,5.38,6741.676647,-1035.15
988,0.0,0.0,0.0,M8V2162,83.5,5.38,6482.275449,-1092.21
989,0.0,0.0,0.0,M8V2163,119,3.75,3372.689076,-427.99
990,0.0,0.0,0.0,M8V2164,120,2.86,4358.666667,417.60

None

In [188]:
irrigation_df = pd.read_excel('/mnt/Datasets/Cool-Farm-Tool-GHG-Inputs LATAM_v2.xlsx', sheet_name = 'Irrigation')
irrigation_df.columns = irrigation_df.iloc[0]
irrigation_df = irrigation_df.iloc[1:].reset_index(drop = True)
print(display(irrigation_df))
irrigation_df = irrigation_df.rename(columns = {'Field Name': 'Field_Name', 'Enter Total Water Applied': 'Total_Water_Applied_mm'})
irrigation_df = irrigation_df[['Field_Name', 'Total_Water_Applied_mm']]

print(display(irrigation_df))

/opt/conda/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,Country,Geography,Harvest Year,Field Name,Select Method,Select Water Source,Select Power Source,Enter Pumping Depth (m),Enter Pumping Distance (m),Enter Total Water Applied,Select Application Unit,Enter % Area Irrigated
0,BRAZIL,LATAM,2020,M6I2035,Pivot,Reservoir,Electric,2,2500,350,millimeter,100
1,BRAZIL,LATAM,2020,M6I2036,Pivot,Reservoir,Electric,2,2500,350,millimeter,100
2,BRAZIL,LATAM,2020,M6I2037,Pivot,Reservoir,Electric,2,2500,350,millimeter,100
3,BRAZIL,LATAM,2020,M6V2027,Pivot,Reservoir,Electric,2,2500,450,millimeter,100
4,BRAZIL,LATAM,2020,M6V2067,Pivot,Reservoir,Electric,2,2500,450,millimeter,100
...,...,...,...,...,...,...,...,...,...,...,...,...
1184,BRAZIL,LATAM,2021,M6I21201,Pivot,Reservoir,Electric,2,2500,350,millimeter,100
1185,BRAZIL,LATAM,2021,M6I21202,Pivot,Reservoir,Electric,2,2500,350,millimeter,100
1186,BRAZIL,LATAM,2021,M2I2147,Pivot,Reservoir,Electric,2,2500,350,millimeter,100
1187,BRAZIL,LATAM,2021,M2I2148,Pivot,Reservoir,Electric,2,2500,350,millimeter,100
1188,BRAZIL,LATAM,2021,M2I2149,Pivot,Reservoir,Electric,2,2500,350,millimeter,100

None

0    Field_Name Total_Water_Applied_mm
0       M6I2035                    350
1       M6I2036                    350
2       M6I2037                    350
3       M6V2027                    450
4       M6V2067                    450
...         ...                    ...
1184   M6I21201                    350
1185   M6I21202                    350
1186    M2I2147                    350
1187    M2I2148                    350
1188    M2I2149                    350

[1189 rows x 2 columns]

None

In [179]:
df_merged = df_merged.merge(irrigation_df, on = 'Field_Name', how = 'left')
# df_merged['Total_Water_Applied_mm_per_Ha'] = df_merged['Total_Water_Applied_mm'] / df_merged['Crop_Area_Ha']
df_merged = df_merged[~df_merged['Total_Water_Applied_mm'].isna()]

print(display(df_merged))

,N_as_Nitrate_kg_per_Ha,P_as_Phosphorus_kg_per_Ha,K_as_Potassium_kg_per_Ha,Field_Name,Crop_Area_Ha,Soil_Organic_Matter,Yield_Mass_kg_Per_Ha,CO2_kg_Emissions_per_Ha,Total_Water_Applied_mm
0,6000.0,0.0,6000.0,M2I2001,200,2.5,4786.9,349.85,350
1,6600.0,0.0,6600.0,M2I2002,210,2.5,5234.47619,488.41,350
2,6000.0,0.0,6000.0,M2I2003,210,2.5,4358.380952,462.26,350
3,0.0,0.0,0.0,M2I2005,150,2.5,3400.4,409.14,350
4,0.0,0.0,0.0,M2I2006,70,2.5,3033.0,261.38,350
...,...,...,...,...,...,...,...,...,...
986,0.0,0.0,0.0,M8V2160,65,2.69,4587.384615,449.67,450
987,0.0,0.0,0.0,M8V2161,83.5,5.38,6741.676647,-1035.15,450
988,0.0,0.0,0.0,M8V2162,83.5,5.38,6482.275449,-1092.21,450
989,0.0,0.0,0.0,M8V2163,119,3.75,3372.689076,-427.99,450
990,0.0,0.0,0.0,M8V2164,120,2.86,4358.666667,417.60,450

None

In [189]:
crop_protection_df = pd.read_excel('/mnt/Datasets/Cool-Farm-Tool-GHG-Inputs LATAM_v2.xlsx', sheet_name = 'Crop Protection')
crop_protection_df.columns = crop_protection_df.iloc[0]
crop_protection_df = crop_protection_df.iloc[1:].reset_index(drop = True)
print(display(crop_protection_df))
crop_protection_df = crop_protection_df.rename(columns = {'Field Name': 'Field_Name', 'Enter # of Applications (Doses)': 'Crop_Protection_Application_Doses'})
crop_protection_df = crop_protection_df[['Field_Name', 'Crop_Protection_Application_Doses']]
print(display(crop_protection_df))

/opt/conda/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,Country,Geography,Harvest Year,Field Name,Select Category,Enter # of Applications (Doses),If Soil Treatment: Enter Application Rate,If Soil Treatment: Enter Rate Unit,If Soil Treatment: Enter % Active Ingredient
0,BRAZIL,LATAM,2020,M6I2035,Post-emergence,14,NaN,NaN,NaN
1,BRAZIL,LATAM,2020,M6I2036,Post-emergence,18,NaN,NaN,NaN
2,BRAZIL,LATAM,2020,M6I2037,Post-emergence,13,NaN,NaN,NaN
3,BRAZIL,LATAM,2020,M6V2027,Post-emergence,19,NaN,NaN,NaN
4,BRAZIL,LATAM,2020,M6V2067,Post-emergence,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1199,BRAZIL,LATAM,2021,M6I21201,Post-emergence,17,NaN,NaN,NaN
1200,BRAZIL,LATAM,2021,M6I21202,Post-emergence,18,NaN,NaN,NaN
1201,BRAZIL,LATAM,2021,M2I2147,Post-emergence,15,NaN,NaN,NaN
1202,BRAZIL,LATAM,2021,M2I2148,Post-emergence,15,NaN,NaN,NaN
1203,BRAZIL,LATAM,2021,M2I2149,Post-emergence,15,NaN,NaN,NaN

None

0    Field_Name Crop_Protection_Application_Doses
0       M6I2035                                14
1       M6I2036                                18
2       M6I2037                                13
3       M6V2027                                19
4       M6V2067                                21
...         ...                               ...
1199   M6I21201                                17
1200   M6I21202                                18
1201    M2I2147                                15
1202    M2I2148                                15
1203    M2I2149                                15

[1204 rows x 2 columns]

None

In [181]:
df_merged = df_merged.merge(crop_protection_df, on = 'Field_Name', how = 'left')
df_merged = df_merged.drop(columns = 'Crop_Area_Ha')

print(display(df_merged))

,N_as_Nitrate_kg_per_Ha,P_as_Phosphorus_kg_per_Ha,K_as_Potassium_kg_per_Ha,Field_Name,Soil_Organic_Matter,Yield_Mass_kg_Per_Ha,CO2_kg_Emissions_per_Ha,Total_Water_Applied_mm,Crop_Protection_Application_Doses
0,6000.0,0.0,6000.0,M2I2001,2.5,4786.9,349.85,350,14
1,6600.0,0.0,6600.0,M2I2002,2.5,5234.47619,488.41,350,18
2,6000.0,0.0,6000.0,M2I2003,2.5,4358.380952,462.26,350,20
3,0.0,0.0,0.0,M2I2005,2.5,3400.4,409.14,350,10
4,0.0,0.0,0.0,M2I2006,2.5,3033.0,261.38,350,15
...,...,...,...,...,...,...,...,...,...
971,0.0,0.0,0.0,M8V2160,2.69,4587.384615,449.67,450,16
972,0.0,0.0,0.0,M8V2161,5.38,6741.676647,-1035.15,450,15
973,0.0,0.0,0.0,M8V2162,5.38,6482.275449,-1092.21,450,13
974,0.0,0.0,0.0,M8V2163,3.75,3372.689076,-427.99,450,15
975,0.0,0.0,0.0,M8V2164,2.86,4358.666667,417.60,450,20

None

In [182]:
df_merged.to_csv('/mnt/Datasets/merged_dataframe_11_30_2022.csv')